.font-blue{
  color: #0b468e;
}
.font-14 {
 font-size: 14px;
}
.bg-blue{
  background-color: #0b468e;
}
.banner img{
  transition: 0.2s ease-in-out;
}
.banner img:hover{   
  transform:  scale(1.2); 
  box-shadow: 0 0 1em #7e7e7ee3;    
}
.link{
  transition: 0.2s ease-in-out;
}
.link:hover{
  transform:  scale(1.01); 
  box-shadow: 0 0 0.2em #7e7e7ee3;
}

.link-texto{
  color: rgba(255, 255, 255, 0.7);      
}
.link-texto:hover{
  color: rgba(255, 255, 255, 1); 
   
}

  /* css do menu lateral */
  body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color:white;
  border-radius:0px !important;
  
}
/* .btn-toggle:hover,
.btn-toggle:focus {
  color: white;
  background-color: #0b2d56;
} */

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  /* color: rgba(0, 0, 0, .85); */
  color:white;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  border-radius:0px !important;
  border-left: solid #0b2d56;
  background-color: #dcdcdc;
 
}

.scrollarea {
  overflow-y: auto;
}
/* 
Estilos independentes
*/

