<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prefeitura Municipal de Teixeiropolis/RO">
    <title>PREFEITURA MUNICIPAL DE TEIXEIROPOLIS/RO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    <link href="css/settings.css" rel="stylesheet" type="text/css" />
    <link href="css/slick.css" rel="stylesheet" type="text/css" />
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PREFEITURA MUNICIPAL DE TEIXEIROPOLIS">
    <meta property="og:description" content="PREFEITURA MUNICIPAL DE TEIXEIROPOLIS - RO">
    <meta property="og:url" content="https://www.teixeiropolis.ro.gov.br/">
    <meta property="og:site_name" content="PREFEITURA MUNICIPAL DE TEIXEIROPOLIS">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="PREFEITURA MUNICIPAL DE TEIXEIROPOLIS - RO">
    <meta name="twitter:title" content="PREFEITURA MUNICIPAL DE TEIXEIROPOLIS">
    <meta name="twitter:site" content="https://www.teixeiropolis.ro.gov.br/">

</head>

<body>
    <header class="header-tudo">
        <div class="header-top" style="text-align: center;">
            <nav class="container nav_menu hidden-xs ">
                <ul class="lista1 list-inline pull-right tamanho_fontes">
                    <li>
                        <form class="d-flex">
                            <input class="form-control input-limited" type="search" placeholder="Pesquisar"
                                aria-label="Search">
                            <button type="button" class="btn " style="color: white;">
                                <span class="glyphicon glyphicon-search"><i class="fa fa-search fa-lg"></i></span>
                            </button>
                        </form>
                    </li>

                    <li>
                        <a target="_blank" href="https://www.teixeiropolis.ro.gov.br/sitemap" accesskey="6">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            Mapa do site
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.gov.br/governodigital/pt-br/vlibras/">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                            VLibras
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.teixeiropolis.ro.gov.br/feed" accesskey="6">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <ul class="list-inline pull-left">
                    <li>
                        <a href="#conteudo-pagina" accesskey="c"><strong>1</strong> Conteúdo</a>
                    </li>

                    <li>
                        <a href="#menu-topo-site" accesskey="m"><strong>2</strong> Menu</a>
                    </li>

                    <li>
                        <a href="" accesskey="a"><strong>3</strong>
                            Acessibilidade</a>
                    </li>

                    <li class="tamanho_fontes">
                        <a onclick="aumentarFonte()" href="#" accesskey="x">
                            <i class="fa fa-plus-square-o"></i>
                            +
                        </a>

                        <a onclick="diminuirFonte()" href="#" accesskey="y">
                            <i class="fa fa-minus-square-o"></i>
                            -
                        </a>

                        <a onclick="toggleDarkMode()" href="#" accesskey="b">
                            <i class="fas fa-adjust"></i>
                        </a>
                    </li>
                </ul>

            </nav>

            <!--Início menu principal (topo)-->
            <div class="header-top-menu ">
                <nav class="navbar yamm navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                                data-target="#menu-topo-site" aria-expanded="false">
                                <span class="sr-only">Menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Menus  -->
                        <nav class="navbar navbar navbar-expand-lg  ">
                            <div class="collapse navbar-collapse" id="menu-topo-site">
                                <aside>
                                    <ul class="nav navbar-nav menu-hover">

                                        <li class="link-inicio">
                                            <a href="index.html"> &nbsp; Início </a>
                                        </li>

                                        <li class="dropdown">
                                            <!-- Início menu a Município -->
                                            <a href="#" data-toggle="dropdown"
                                                class="dropdown-toggle dropdown-toggle-arrow" aria-expanded="true">
                                                Município
                                            </a>

                                            <ul class="dropdown-menu" style="background-color: #2370B7 ;">
                                                <li>
                                                    <div class="yamm-content rg-yamm-simple">
                                                        <div class="row">
                                                            <ul class="lista1 lista-menu">
                                                                <li>
                                                                    <a href="#" title=""> Histórico </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Localização </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Dados e Indicadores </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Turismo </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Notícias </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Agenda </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li><!-- Fim menu Município -->

                                        <li class="dropdown">
                                            <!-- Gabinete-->
                                            <a href="#" data-toggle="dropdown"
                                                class="dropdown-toggle dropdown-toggle-arrow" aria-expanded="true">
                                                Gabinete
                                            </a>
                                            <ul class="dropdown-menu " style="background-color: #2370B7 ;">
                                                <li>
                                                    <div class="yamm-content rg-yamm-simple">
                                                        <div class="row">
                                                            <ul class="lista1 lista-menu">
                                                                <li>
                                                                    <a href="#" title=""> O Prefeito </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Vice Prefeito </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Controladoria </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Jurídico </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Chefia de Gabinete </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Almoxarifado </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> DRH </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> CPL </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <!-- Secretarias-->
                                            <a href="#" data-toggle="dropdown"
                                                class="dropdown-toggle dropdown-toggle-arrow" aria-expanded="true">
                                                Secretarias
                                            </a>

                                            <ul class="dropdown-menu" style="background-color: #2370B7 ;">
                                                <li>
                                                    <div class="yamm-content rg-yamm-simple">
                                                        <div class="row">
                                                            <ul class="lista1 lista-menu">
                                                                <li>
                                                                    <a href="#" title=""> SEMAGRI </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> SEMAST </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> SEMECT </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> SEMLIC </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> SEMOSP </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> SEMPLAFE </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> SEMSAU </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <!-- Compras e credenciamentos-->
                                            <a href="#" data-toggle="dropdown"
                                                class="dropdown-toggle dropdown-toggle-arrow" aria-expanded="true">
                                                Compras
                                            </a>

                                            <ul class="dropdown-menu" style="background-color: #2370B7 ;">
                                                <li>
                                                    <div class="yamm-content rg-yamm-simple">
                                                        <div class="row">
                                                            <ul class="lista1 lista-menu">
                                                                <li>
                                                                    <a href="#" title=""> Processos </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <!-- Tributos Web-->
                                            <a href="#" data-toggle="dropdown"
                                                class="dropdown-toggle dropdown-toggle-arrow" aria-expanded="true">
                                                Tributos
                                            </a>
                                            <ul class="dropdown-menu" style="background-color: #2370B7 ;">
                                                <li>
                                                    <div class="yamm-content rg-yamm-simple">
                                                        <div class="row">
                                                            <ul class="lista1 lista-menu">
                                                                <li>
                                                                    <a href="#" title=""> Guia e Taxas 2° Via: </a>

                                                                    <a style="padding-left: 10px; padding-top: 3px;"
                                                                        href="#" title=""> 2ª via de Divida Ativa IPTU
                                                                    </a>

                                                                    <a style="padding-left: 10px; padding-top: 3px;"
                                                                        href="#" title=""> 2ª via de Divida Ativa ISS
                                                                    </a>

                                                                    <a style="padding-left: 10px; padding-top: 3px;"
                                                                        href="#" title=""> 2ª via IPTU Exercicio
                                                                    </a>

                                                                    <a style="padding-left: 10px; padding-top: 3px;"
                                                                        href="#" title=""> 2ª via ISS/Taxas Exercicio
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" title=""> Tributos: </a>

                                                                    <a style="padding-left: 10px; padding-top: 3px;"
                                                                        href="#" title=""> Alvará
                                                                    </a>

                                                                    <a style="padding-left: 10px; padding-top: 3px;"
                                                                        href="#" title=""> Inscrição
                                                                    </a>

                                                                    <a style="padding-left: 10px; padding-top: 3px;"
                                                                        href="#" title=""> Certidões
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <!-- Links Úteis-->
                                            <a href="#" data-toggle="dropdown"
                                                class="dropdown-toggle dropdown-toggle-arrow" aria-expanded="true">
                                                Link
                                            </a>
                                            <ul class="dropdown-menu" style="background-color: #2370B7 ;">
                                                <li>
                                                    <div class="yamm-content rg-yamm-simple">
                                                        <div class="row">
                                                            <ul class="lista1 lista-menu">
                                                                <li>
                                                                    <a href="https://web.teixeiropolis.ro.gov.br/cert_ins_mun.cgi"
                                                                        title=""> Tributos -> Inscrições
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://web.teixeiropolis.ro.gov.br/alvara/"
                                                                        title=""> Tributos -> Alvará
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://web.teixeiropolis.ro.gov.br/certidao-negativa/"
                                                                        title=""> Tributos -> Certidão
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="http://teixeiropolis.brweb.org/webaluno"
                                                                        title=""> Boletim Online
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="http://transparencia.teixeiropolis.ro.gov.br/CARTA/"
                                                                        title=""> Carta de Serviço
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://transparencia.teixeiropolis.ro.gov.br/CONSULTA/"
                                                                        title=""> Consulta Pública
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://web.teixeiropolis.ro.gov.br/cns_processo.cgi"
                                                                        title=""> Protocolo Online
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://web.teixeiropolis.ro.gov.br/portal-listar/concurso-publico/"
                                                                        title="">Concurso Público
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://web.teixeiropolis.ro.gov.br/portal-listar/processo-seletivo/"
                                                                        title=""> Teste Seletivo
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://teixeiropolis.mpweb.com.br/"
                                                                        title="">
                                                                        Diário Eletrônico
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="http://nfteixeiropolis.sispel.com.br:8087/nota_ISSWEB/Login/login.aspx"
                                                                        title="">Nota Fiscal Eletrônica
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div> <!-- Fim menu principal (topo) -->
        </div>
        <!-- container topo - image prefeitura -->
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" style="padding-top: 5px;">
                    <img src="img/prefeitura-new.jpeg" alt="" width="70%" height="70%">
                </div>
            </div>
        </div>

    </header>

    <!-- meio da pagina com conteudos -->

    <div class="content container">
        <div id="conteudo-pagina">
            <div class="row-content"></div>
        </div>

        <div class="row-content">
            <section class="col-sm-12">
                <div class="col-md-12 col-sm-6">
                    <section class="quick-access">
                        <div class="cabecalho-secao-3">
                            <h1>
                                <span>
                                    NOTÍCIAS
                                </span>
                            </h1>
                        </div>

                        <!-- Add conteúdo do site -->

                    </section>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer text-center hidden-print">
        <div class="container">
            <address>
                <span class="header">
                    <div style="margin-top: 15px;">
                        Prefeitura Municipal de <strong>Teixeiropolis - RO</strong>
                    </div>
                </span>

                <span class="inner">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Avenida Afonso Pena n° 2280 - Centro
                    <br /> Teixeiropolis - RO <br>
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i> (69) 3465-1112 | (69) 0000-0000 <br />
                    E-mail: gabinete@teixeiropolis.ro.gov.br <br>
                    Atendimento: 7:00h às 13:00h - Segunda à Sexta-feira.
                    <hr>
                    Todos os direitos reservados © 2024
                </span>
            </address>
        </div>
    </footer>

    <!-- Plugin libras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <script type="text/javascript" src="js/commons.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script src="js/vlibras-plugin.js"></script>
    <script src="js/main.js"></script>
</body>

</html>